<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ynotes-aula-heading" data-cy="AulaCreateUpdateHeading" ynotesTranslate="yournotesApp.aula.home.createOrEditLabel">
        Create or edit a Aula
      </h2>

      <div>
        <ynotes-alert-error></ynotes-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ynotesTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.aula.capacidadMaxima" for="field_capacidadMaxima">Capacidad Maxima</label>
          <input
            type="number"
            class="form-control"
            name="capacidadMaxima"
            id="field_capacidadMaxima"
            data-cy="capacidadMaxima"
            formControlName="capacidadMaxima"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.aula.grado" for="field_grado">Grado</label>
          <input type="number" class="form-control" name="grado" id="field_grado" data-cy="grado" formControlName="grado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.aula.salon" for="field_salon">Salon</label>
          <input type="text" class="form-control" name="salon" id="field_salon" data-cy="salon" formControlName="salon" />
          <div *ngIf="editForm.get('salon')!.invalid && (editForm.get('salon')!.dirty || editForm.get('salon')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('salon')?.errors?.maxlength"
              ynotesTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ynotesTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ynotesTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
