<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ynotes-sede-heading" data-cy="SedeCreateUpdateHeading" ynotesTranslate="yournotesApp.sede.home.createOrEditLabel">
        Create or edit a Sede
      </h2>

      <div>
        <ynotes-alert-error></ynotes-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ynotesTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.sede.correoSede" for="field_correoSede">Correo Sede</label>
          <input
            type="text"
            class="form-control"
            name="correoSede"
            id="field_correoSede"
            data-cy="correoSede"
            formControlName="correoSede"
          />
          <div *ngIf="editForm.get('correoSede')!.invalid && (editForm.get('correoSede')!.dirty || editForm.get('correoSede')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correoSede')?.errors?.maxlength"
              ynotesTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 80 }"
            >
              This field cannot be longer than 80 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.sede.direccioSede" for="field_direccioSede">Direccio Sede</label>
          <input
            type="text"
            class="form-control"
            name="direccioSede"
            id="field_direccioSede"
            data-cy="direccioSede"
            formControlName="direccioSede"
          />
          <div
            *ngIf="editForm.get('direccioSede')!.invalid && (editForm.get('direccioSede')!.dirty || editForm.get('direccioSede')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccioSede')?.errors?.maxlength"
              ynotesTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.sede.nombreSede" for="field_nombreSede">Nombre Sede</label>
          <input
            type="text"
            class="form-control"
            name="nombreSede"
            id="field_nombreSede"
            data-cy="nombreSede"
            formControlName="nombreSede"
          />
          <div *ngIf="editForm.get('nombreSede')!.invalid && (editForm.get('nombreSede')!.dirty || editForm.get('nombreSede')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreSede')?.errors?.maxlength"
              ynotesTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ynotesTranslate="yournotesApp.sede.telefonoSede" for="field_telefonoSede">Telefono Sede</label>
          <input
            type="text"
            class="form-control"
            name="telefonoSede"
            id="field_telefonoSede"
            data-cy="telefonoSede"
            formControlName="telefonoSede"
          />
          <div
            *ngIf="editForm.get('telefonoSede')!.invalid && (editForm.get('telefonoSede')!.dirty || editForm.get('telefonoSede')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefonoSede')?.errors?.maxlength"
              ynotesTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ynotesTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ynotesTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
